aiohttp==3.9.3
aiosqlite==0.19.0
APScheduler==3.10.4
coloredlogs==15.0.1
pygame==2.5.2
Pyrogram @ https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.34.zip
pyromod==3.1.6
pyTelegramBotAPI==4.25.0
TgCrypto==1.2.5
plyer==2.1.0